.forecastContainer {
    composes: forecastContainer from '../App.css';

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 1fr);
    align-content: center;
    align-items: center;

    border: 4px solid white;

}

.verticalCenter {
    grid-template-rows: 1fr;
}