.searchContainer {
    composes: searchContainer from '../App.css';
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 100%;
    align-content: center;
    grid-template-areas:
        "searchInput"
        "searchButton";
}

.searchInput {
    border: 1px solid red;
    grid-area: searchInput;
}

.searchButton {
    border: 1px solid blue;
    grid-area: searchButton;
}